<h1>Add entry</h1>

<form action="/board" method="POST">
    
  <label for="number">Number</label>
    <br>
    <input type="text" id="number" name="number">
    <br>
    <label for="description">Description</label>
    <br>
    <input type="text" id="description" name="description">

  <input type="submit" value="Add entry">
  
</form>
